.slider-container {
  width: 100%;
  height: calc(80vh - 194px);

  .mySwiper {
    width: 100%;
    min-height: 470px;
    padding-top: 30px;

    .slide {
      width: 100%;
      min-height: 470px;
      // background-size: cover;
      // background-position: center;
    }

    .autoplay-progress {
      position: absolute;
      right: 16px;
      bottom: 16px;
      z-index: 10;
      width: 48px;
      height: 48px;

      svg {
        --progress: 0;
        transform: rotate(-90deg);
        width: 100%;
        height: 100%;
      }

      circle {
        fill: none;
        stroke: #fff;
        stroke-width: 4;
        stroke-dasharray: 126;
        stroke-dashoffset: calc(126 * var(--progress));
        transition: stroke-dashoffset 0.1s linear;
      }

      span {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #fff;
        font-size: 12px;
      }
    }


    @media (max-width: 1480px) {
      padding-top: 0px;
    }
  }

  @media (max-width: 1480px) {
    height: calc(75vh - 194px);
  }
}