.imgs-section {
  position: relative;
  width: 100%;
  height: 100vh; // sahifaning balandligi
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  overflow: hidden;
}

.imgs-container {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 1s ease-in-out;

  img {
    width: 160px;
    margin: 0 -50px; // boshlanishida bir-biriga yopishgan
    transition: all 1s ease-in-out;
  }

  &.expanded {
    img {
      margin: 0 15px; // yoyilganda masofa
      transform: scale(1.05);
    }
  }
}
