.header {
  background-color: white;
  padding: 20px 0px;
  height: 110px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  width: 100%;
  border-bottom: 1px solid #a4a4a4;
  display: flex;
  align-items: center;
  justify-content: center;


  @media (max-width: 1560px) {}

  &__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;

    &__logo img {
      width: 60px;
      height: 60px;
      object-fit: contain;
    }

    &__item {
      display: flex;
      align-items: center;
      gap: 55px;
      position: relative;
    }

    @media (max-width:1560px) {
      &__item {
        gap: 30px;
      }
    }

    // &__list {
    //   position: relative;
    //   font-size: 15px;
    //   color: #333331;
    //   font-weight: 400;
    //   line-height: 24px;
    //   cursor: pointer;
    //   display: flex;
    //   align-items: center;
    //   gap: 2px;

    //   svg {
    //     font-size: 12px;
    //   }

    //   &:hover .dropdown {
    //     opacity: 1;
    //     visibility: visible;
    //     transform: translateY(0);
    //   }
    // }

    &__btn {
      padding: 8px;
      background-color: #333331;
      color: white;
      border: 1px solid #333331;
      font-size: 14px;
    }

    &__bottom-menu {
      font-size: 20px;
      display: none;
    }

    &__list {
      position: relative;
      font-size: 15px;
      color: #333331;
      font-weight: 400;
      line-height: 24px;
      cursor: pointer;
      display: flex;
      align-items: center;
      gap: 2px;

      svg {
        font-size: 12px;
      }

      &:hover .dropdown {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
        transition-delay: 0s; // ochilish darhol
      }
    }

    .dropdown {
      position: absolute;
      top: 35px;
      left: 0;
      background-color: #111;
      color: white;
      min-width: 180px;
      padding: 10px 0;
      border-radius: 10px;
      opacity: 0;
      visibility: hidden;
      transform: translateY(10px);
      transition: all 0.3s ease;
      transition-delay: 0.1s; // yopilishini kechiktirish
      z-index: 9999;

      li {
        padding: 10px 20px;
        white-space: nowrap;
        pointer-events: auto; // klik ishlashini ta'minlaydi

        &:hover {
          background-color: #222;
        }

        a {
          display: block;
          color: white;
          text-decoration: none;
        }
      }

      &__bottom {
        display: flex;
        align-items: center;
        gap: 14px;

        &-search,
        &-menu {
          font-size: 22px;
        }

        &-menu {
          display: none;
        }
      }
    }
  }
}