.productRange {
    &__container {
        display: grid;
        grid-template-columns: 1.5fr 2fr;
        grid-gap: 40px;
        padding: 50px 0px;
    }

    &__info {
        display: flex;
        flex-direction: column;
        gap: 40px;
        align-items: self-start;

        &-title {
            font-size: 54px;
            line-height: 60px;
            font-weight: 700;
            color: black;
        }

        &-text {
            font-size: 20px;
            line-height: 26px;
            font-weight: 400;
            color: black;
            width: 90%;
        }

        &-desc {
            font-size: 18px;
            font-weight: 400;
            line-height: 22px;
            color: gray;
            width: 70%;
        }

        &-btn {
            padding: 15px;
            width: 260px;
            border-radius: 40px;
            font-size: 16px;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;
            border: 1px solid #333331;
            background-color: #333331;
            color: white;

            &:hover {
                background-color: white;
                color: #333331;
                border: 1px solid #333331;
                transition: .5s;
            }
        }
    }

    &__category {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
    }

    &__card {
        position: relative;
        border: 1px solid #aaa7;
        padding: 15px;
        height: 220px;
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        transition: .5s;
        overflow: hidden;
        cursor: pointer;

        &-bottom {
            display: flex;
            align-items: center;
            gap: 10px;
        }

        &::before {
            content: '';
            position: absolute;
            inset: 0;
            background: url(../../assets/images/bg.jpg) center/cover no-repeat;
            opacity: 0;
            transition: opacity 0.5s;
            z-index: 0;
        }

        &:hover::before {
            opacity: 1;
        }


        &-bottom {
            display: flex;
            align-items: center;
            justify-content: flex-end;

            &-text {
                font-size: 16px;
                font-weight: 300;
                color: gray;
                opacity: 0;
                display: flex;
                align-items: end;
                justify-content: center;
            }

            span {
                display: flex;
                align-items: center;
                justify-content: center;
                
            }
        }

        &-title {
            font-size: 20px;
            line-height: 26px;
            font-weight: 400;
            color: #333331;
        }
    }

    &__card:hover .productRange__card-title {
        color: white;
        z-index: 1;
    }

    &__card:hover .productRange__card-bottom-text {
        opacity: 1;
        transition: .5s;
    }

    &__card:hover .productRange__card-bottom {
        color: white;
        z-index: 1;
    }

    @media (max-width:1200px) {
        &__info-title {
            font-size: 32px;
            font-weight: 500;
            line-height: 38px;
        }

        &__info {
            gap: 20px;
        }

        &__info-text {
            font-size: 16px;
            font-weight: 400;
        }

        &__info-desc  {
            font-size: 14px;
        }
    }

    @media (max-width:970px) {
        &__container {
            grid-template-columns: 1fr;
        }
    }

    @media (max-width:650px) {
        &__card-title {
            font-size: 16px;
            line-height: 20px;
        }
    }

    @media (max-width:480px) {
        &__category  {
          gap: 10px
        }
    }

    @media (max-width:460px) {
        &__info-title {
            font-size: 22px;
            line-height: 24px;
            font-weight: 400;
            color: #333331;
            text-align: center;
        }

        &__info-text {
          font-size: 16px;
          line-height: 20px;
          font-weight: 300;
          text-align: center;
          width: 100%;
        }

        &__info-desc {
            font-size: 14px;
            line-height: 18px;
            font-weight: 300;
            text-align: center;
            width: 100%;
        }

        &__info {
           gap: 15px;
           align-items: center;
        }
    }

    @media (max-width:430px) {
        &__category {
            grid-template-columns: 1fr;
        }
    }

}