.otzive {
    display: flex;
    flex-direction: column;
    gap: 70px;
    padding-top: 150px;

    &-title {
        font-size: 52px;
        font-weight: 700;
        color: #333331;
        width: 60%;
        line-height: 52px;
    }

    &-acc {
        display: grid;
        grid-template-columns: 300px 1fr;
        grid-gap: 20px;
    }
}

.custom-accordion {
  border: none; 
  border-bottom: 1px solid #ddd; 
  box-shadow: none;
  &::before {
    display: none; 
    box-shadow: none;
    border: none;
  }
}


.css-rizt0-MuiTypography-root {
  font-size: 20px !important;
  padding: 15px 0px;
}

.css-1lj39kh-MuiAccordionDetails-root {
  font-size: 16px;
  font-weight: 300;
  line-height: 26px;
  color: gray;
}