.media {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
    padding: 40px 12px;

    @media (max-width:1580px) {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 20px;
        padding: 40px 12px;
    }

    &-left {
        display: flex;
        flex-direction: column;
        gap: 10px;

        &-title {
            font-size: 52px;
            font-weight: 700;
            line-height: 58px;
            width: 90%;

            span {
                color: red;
            }
        }

        &-text {
            font-size: 20px;
            font-weight: 500;
            line-height: 28px;
        }
    }

    &-right {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: flex-end;
        justify-content: flex-end;
        grid-gap: 20px;

        &-card {
            position: relative;
            display: flex;
            flex-direction: column;
            gap: 20px;
            transition: .6s;

            &-logo {
                position: absolute;
                top: -30px;
                left: 50%;
                transform: translate(-50%, -15%);
                background-color: red;
                width: 80px;
                height: 80px;
                border-radius: 50%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                svg {
                    font-size: 34px;
                    color: white;
                }
            }

            &-img {
                img {
                    width: 100%;
                    height: 400px;
                    border-radius: 10px;
                }
            }

            &-btns {
                padding: 10px 30px;
                border-radius: 22px;
                border: 1px solid #aaa6;
                background-color: #333331;
                color: white;
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 0 auto;
                transition: .6s;
            }

            &-btns:hover {
                transform: scale(1.099);
            }

            &:hover &-logo {
                border: 2px solid red;
                background-color: white;
                transition: .5s;

                svg {
                    color: red;
                    transition: .5s;
                }
            }
        }
    }

    @media (max-width:1200px) {
        grid-template-columns: 300px 1fr;

        &-right-card-img img {
            height: 340px;
        }
    }

    @media (max-width:1000px) {
        grid-template-columns: 1fr;
        gap: 60px;
        padding: 20px;

        &-right-card-img img {
            height: 340px;
        }
    }

    @media (max-width:670px) {
        &-right-card-img img {
            height: 360px;
        }

        &-right-card-logo {
            width: 60px;
            height: 60px;
            top: -18px;

            svg {
                font-size: 24px;
            }
        }

        &-left-title {
            line-height: 40px;
        }
    }

    @media (max-width:600px) {
        &-right {
            grid-template-columns: repeat(2, 1fr);
            gap: 40px 15px;
        }
    }

    @media (max-width:400px) {
        &-right {
            grid-template-columns: repeat(1, 1fr);
            gap: 40px 10px;
        }

        &-left-title {
            font-size: 30px;
            line-height: 36px;
            width: 100%;
        }

        &-left-text {
            font-size: 18px;
        }
    }
}