.front-bg {
    background: url(../../assets/images/homeBg.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 320px;

    @media (max-width: 1500px) {
        height: 250px;
    }
}