@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Inter", sans-serif;
  scroll-behavior: smooth;
  scroll-margin-top: 90px;
}

a{ 
  color: inherit;
}

button {
  cursor: pointer;
}

.container {
  max-width: 1350px;
  margin: 0 auto;
  width: 100%;
  padding: 0px 12px;
}

@media (max-width: 1560px) {
  .container {
    max-width: 1260px;
  }
}