.distrbut {
    padding-top: 110px;
    padding-bottom: 40px;

    &-top {
        background-color: rgb(135, 9, 9);
        background: url(../../assets/images/map.webp);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 550px;
        display: flex;
        align-items: center;
        justify-content: center;

        @media (max-width:1580px) {
            height: 450px;
        }

        &-info {
            display: flex;
            flex-direction: column;
            gap: 20px;
        
            &-title {
                font-size: 54px;
                font-weight: 700;
                line-height: 56px;
                text-align: center;
                color: white;
            }
        
            &-text {
                font-size: 22px;
                font-weight: 400;
                color: white;
                text-align: center;
            }
        
            &-btn {
                padding: 16px;
                width: 300px;
                margin: 0 auto;
                color: black;
                font-size: 18px;
                font-weight: 500;
                border: 1px solid #aaa6;
                border-radius: 2px;
                transition: .6s;
            
                &:hover {
                    transform: scale(1.029);
                    background-color: black;
                    color: white;
                }
            }
        }

        @media (max-width:600px) {
            background: url(../../assets/images/distMobile.webp);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;

            &-info-title {
                font-size: 32px;
                line-height: 38px;
            }
        }

        @media (max-width:400px) {
            &-info-title {
                font-size: 20px;
                line-height: 28px;
            }

            &-info-text {
                font-size: 16px;
            }
        }
    }

    &-catalog {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 40px 12px;
        gap: 20px;

        &-title {
            font-size: 44px;
            line-height: 56px;
            font-weight: 600;
            color: black;
        }

        &-text {
            font-size: 20px;
            font-weight: 400;
            color: #333331;
        }

        &-btn {
            padding: 16px;
            width: 300px;
            background-color: #333331;
            border-radius: 14px;
            border: 1px solid #333331;
            color: white;
            font-size: 18px;
            font-weight: 400;
            margin-top: 20px;
            transition: .5s;

            &:hover {
                transform: scale(1.029);
            }
        }

        @media (max-width:570px) {
            gap: 10px;
            &-title {
               font-size: 34px;
               font-weight: 400;
            }

            &-text {
               text-align: center;
               font-size: 16px;
            }

            &-btn {
                padding: 10px;
                width: 240px;
            }
        }

        @media (max-width:450px) {
            gap: 10px;
            &-title {
               font-size: 24px;
               text-align: center;
               line-height: 30px;
               font-weight: 400;
            }

            &-text {
               text-align: center;
               font-size: 16px;
            }

            &-btn {
                padding: 10px;
                width: 240px;
            }
        }
    }

    &-map {
        // border: 1px solid rgb(221, 221, 221);
        padding: 20px;
        background-color: white;
        border-radius: 8px;
        // box-shadow: 1px 1px 10px rgba(114, 114, 114, 0.267);
    }

}