.faq {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-gap: 20px;
    padding-top: 150px;

    &-title {
        font-size: 52px;
        font-weight: 600;
        color: #333331;
        line-height: 58px;
    }

    &-acc {
        padding-top: 50px;
    }

    &-acc {
        .MuiAccordion-root {
            box-shadow: none; // Material UI default shadow yo‘q qilamiz
            border: none; // butun border yo‘q
            border-bottom: 1px solid #ddd; // faqat pastki border
            background: transparent;

            &::before {
                display: none; // Material UI default divider chizig‘ini olib tashlaymiz
            }

            .MuiAccordionSummary-root {
                padding: 16px 0;
                font-weight: 500;
                font-size: 22spx;
                color: #222;
                transition: color 0.3s ease;
            }

            .css-rizt0-MuiTypography-root {
                font-size: 18px;
            }

            .MuiAccordionDetails-root {
                padding: 0 0 16px 0;
                font-size: 14px;
                color: #555;
                line-height: 1.5;
            }
        }
    }

    &-load-more {
        margin: 20px auto 0px;
        display: block;
        width: 260px;
        padding: 14px 20px;
        background-color: #333331;
        color: white;
        border: none;
        border-radius: 40px;
        font-size: 14px;
        cursor: pointer;
        transition: 0.3s ease;

        &:hover {
            background-color: #00406b;
        }
    }


}

.css-yfrx4k-MuiAccordionSummary-content {
    padding: 10px 0px;
}

.css-rizt0-MuiTypography-root {
    font-size: 24px;

}