.map-chart {
  position: relative;

  #chartdiv {
    width: 100%;
    height: 600px;
  }

  canvas {
    border-radius: 12px;
  }
}


@media (max-width:600px) {
  .chartDiv {
    height: 300px !important;
    width: 100% !important;
  }
}